* {
  font-family: "distillery";
  text-decoration: none;
}
body {
  background-color: #ff6100;
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}
@font-face {
  font-family: "bodoni";
  src: url("../public/fonts/bodoni-72-book.ttf") format("truetype");
}
@font-face {
  font-family: "distillery";
  src: url("../public/fonts/distillerydisplay.ttf") format("truetype");
}
Link {
  text-decoration: none;
}
