.btn_navbar {
  position: absolute;
  top: 1%;
  right: 1%;
  z-index: 100;
}
.navbar {
  font-family: "distillery";
  display: none;
}
.navbar.visible {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background-color: #f5f5f5;
  width: 40vw;
  height: 90vh;
  overflow: hidden;
  z-index: 90;
}
.link {
  text-decoration: none;
  margin-bottom: 20px;
  margin-right: 15px;
  color: black;
  font-size: 3em;
  display: block;
  text-align: right;
}
.wrapLink {
  padding-top: 100px;
}
.img_navbar {
  position: absolute;
  left: -120px;
  margin-top: -90px;
}
.peekabook {
  position: absolute;
  width: 20%;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2em;
  bottom: 0;
  margin-bottom: 3px;
  left: 35%;
}
.btn_auth {
  position: relative;
  margin: 0 auto;
  z-index: 1;
  top: -8vh;
  background-color: #fff;
  width: 50%;
  display: block;
  margin-bottom: 2%;
  color: #ff6100;
  font-family: "distillery";
  border: none;
  font-size: 1.4em;
}
.btn_auth:hover {
  color: #000;
}
