.logo {
  position: absolute;
  left: -30px;
  top: -20px;
}
.title {
  font-family: "distillery";
  font-size: 3em;
  text-align: center;
  position: relative;
  top: -5%;
}
.register_box {
  position: absolute;
  right: 5%;
  top: 10%;
  width: 30%;
  height: 80%;
  background: #ffffff;
  box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.25);
  border-radius: 80px;
}
.form_box {
  position: relative;
  top: -10%;
  padding: 4% 13% 0 13%;
}
.label_name,
.label_email,
.label_password,
.label_confirm_password {
  font-family: "bodoni";
  display: block;
  font-size: 1.3em;
  margin-bottom: 1.5%;
}
.input_name,
.input_email,
.input_password,
.input_confirm_password {
  background: #f5f5f5;
  border: none;
  margin-bottom: 10%;
  height: 1.8em;
  width: 100%;
}
.btn_submit {
  position: relative;
  background: #ff6100;
  border-radius: 30px;
  border: none;
  font-family: "distillery";
  width: 30%;
  font-size: 1.3em;
  margin: 0 auto;
  display: inline-block;
  transform: translateX(120%);
}
